<h1>Listado de Categorías</h1>

<a class = "btn-aceptar" href="/categorias/create">Agregar categoría</a>

<section class="listados">
<table id="tablaCategorias" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoría</th>
            <th>Cantidad de productos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(categoria => { %>
            <tr>
                <td><%= categoria.id %></td>
                <td><%= categoria.name %></td>
                <td class = "cent" ><%= categoria.cantidad_productos %></td>
                <td>
                    <a href="/categorias/<%= categoria.id %>" class="btn-aceptar">Ver productos</a>
                    <a href="/categorias/<%= categoria.id %>/edit" class="btn-aceptar">Editar</a>
                    <form action="/categorias/<%= categoria.id %>?_method=DELETE" method="POST" style="display:inline;" class="form-delete">
                        <button type="submit" class="btn-cancelar">Eliminar</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
</section>

<!-- confirmacion de eliminacion -->
<script>
    document.addEventListener("submit", (event) => {
        if (event.target.classList.contains("form-delete")) {
            event.preventDefault();
            const confirmar = confirm("¿Estás seguro de que deseas eliminar esta categoría?");
            if (confirmar) {
                event.target.submit();
            }
        }
    });
</script>

