<h1>Editar Producto</h1>

<form class="form_group" action="/productos/<%= producto.id %>?_method=PUT"method = "post">
    <div class="form_group">
        <label class="form_label" for="nombre">Nombre: </label>
        <input class="form_input" type="text" name="name" id="nombre" value="<%= producto.name %>" required>

        <label class="form_label" for="precio">Precio: </label>
        <input class="form_input" type="int" name="price" id="precio" value="<%= producto.price %>" required>

        <label class="form_label" for="stock">Stock: </label>
        <input class="form_input" type="int" name="stock" id="stock" value="<%= producto.stock %>" required>

        <label class="form_label" for="descripcion">Descripcion: </label>
        <input class="form_input" type="text" name="description" id="descripcion" value="<%= producto.description %>" required>
    </div>
    <button class="btn-aceptar" type = "submit">Guardar</button>
    <a href="/productos" class="btn-cancelar form_button_right">Cancelar</a>
</form>