<h1>Listado de Productos</h1>

<a href="/productos/create" class="btn-aceptar alejar">Agregar producto</a>

<table id="productosTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% productos.forEach(producto => { %>
            <tr>
                <td><%= producto.id %></td>
                <td><%= producto.name %></td>
                <td><%= producto.description %></td>
                <td>$<%= producto.price %></td>
                <td><%= producto.stock %></td>
                <th><%= producto.categoria %></th>
                <td>
                    <a href="/productos/<%= producto.id %>/edit" class="btn-aceptar">Editar</a>
                    <form class="from-delete" action="/productos/<%= producto.id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit" class="btn-cancelar form_button_right">Eliminar</butto>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<!-- Scripts de DataTables -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.jqueryui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.jqueryui.js"></script>

<script>
    $(document).ready(function () {
        $('#productosTable').DataTable({
            language: {
            emptyTable: "No hay datos disponibles",
            info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
            },
            search: "Buscar:"
            }
        });
    });
</script>

<script>
    document.addEventListener("submit", (event) => {
        event.preventDefault();

        if (event.target.classList.contains("from-delete")) {
            const confirmar = confirm("¿Estás seguro de que deseas eliminar esta categoría?");
            if (confirmar) {
                event.target.submit();
            }
        }
    });
</script>